<% layout('layouts/boilerplate')%>

    <div class="row">
        <div class="col-6 offset-3">
            <div class="card mb-3">
                <img src="https://images.unsplash.com/photo-1601313286578-032790b9c687?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1964&q=80"
                    class="card-img-top" alt="Dilton, CO, USA. Source: Unsplashed">
                <div class="card-body">
                    <h5 class="card-title">About</h5>
                    <p class="card-text">Based in Portugal to the world, FlyBnB provides a place for you to find your
                        next
                        travel destination. It holds accomodations from hostels to resorts, something for everyone.
                    <p>This web application was created in a academic environment for the subject of Redes Inteligente e
                        Serviços (RINTE).</p>
                    </p>
                    <p>For further questions or contact, we can be reached at: <br> <a
                            href="mailto:supflybnb@gmail.com">supflybnb@gmail.com</a></p>
                </div>
                <div class="card-body">
                    <a class="card-link btn btn-info" href="/places">All Places</a>
                </div>
                <div class="card-footer text-muted">
                    Author: Pedro Alves
                </div>
            </div>
        </div>
    </div>