<% layout('layouts/boilerplate')%>

    <link rel="stylesheet" href="/stylesheets/stars.css">

    <div class="row">

        <h1 style="text-align: center">Update Review</h1>
        <div class="card-body">
            <div style="width: 30%; margin: 25px auto;">
                <form action="/places/<%= place_id %>/reviews/<%=review._id %>?_method=PUT" method="POST">
                    <h3>Rating</h3>
                    <fieldset class="starability-basic">
                        <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked
                            aria-label="No rating." />
                        <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                        <label for="first-rate1" title="Terrible">1 star</label>
                        <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                        <label for="first-rate2" title="Not good">2 stars</label>
                        <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                        <label for="first-rate3" title="Average">3 stars</label>
                        <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                        <label for="first-rate4" title="Very good">4 stars</label>
                        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                        <label for="first-rate5" title="Amazing">5 stars</label>
                    </fieldset>
                    <div class="mb-3">
                        <h3>Body</h3>
                        <label class="form-label" for="body"></label>
                        <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3"
                            placeholder="<%=review.body %>" required></textarea>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <button class="btn btn-success">Submit</button>
                    <div>
                        <a href="/places/<%= place_id %>">Back</a>
                    </div>

                </form>
            </div>
        </div>
    </div>